* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D22730;
}


#page-title {
    padding: 8px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background-color: #D22730;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

header {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D22730;
    height: 100px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}

#main img {
  flex-shrink: 0;
  min-width: 100%;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 64px;
}

.banner {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 64px;
  background-color: #C6C6C6;
  align-items: center;
  margin-bottom: 24px;
}

.picture img {
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.description {
  display: flex;
  padding-left: 32px;
}

h3 + div {
  padding-left: 32px;
}









